.brand-header{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    &--deafult{
        font-size:21px;
        display: block;
        margin: 0rem 1rem 0rem 0rem;
    }
}