.user-avatar{
    .user-avatar__container{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
        span{
            font-size: 20px;
            font-weight: bold;
        }
    }
    &--default{
        .user-avatar__container{
            width: 2rem;
            height: 2rem;
            background-color: #fafafa;
        }
    }
}