.sidebar-menu{
    .sidebar-menu__group{
        border: 0;
        background-color: transparent;
        .sidebar-menu__item-active{
            background-color: #0F1634;
        }
        li{
            border: 0;
            background-color: transparent;
            cursor: pointer;
            &:hover{
                background-color: #0F1634;
            }
        }
        a{
            color: #ffffff;
        }
    }
    &--default{

    }
}