.button-action{
    cursor: pointer;
    padding: 0.8rem 2rem;
    border-radius: 18px;
    border: 0;

    &:focus{
        outline: none;
        box-shadow: none;
    }
    &--default{
        background-color: transparent;
        color: #000000;
        border: 1px solid gray;
    }
    &--blue{
        background-color: #220FFF;
        color: #ffffff;
    }
}