.sidebar{
    width: 100%;
    height: 100%;
    .sidebar__wrapper{
        .sidebar__header{
            height: 4rem;
            padding-left: 1.25rem;
            display: flex;
            align-items: center;

            span{
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
    
    &--default{
        background-color: #181F48;
    }
}