@font-face {
	font-family: "webfonts";
	src: url("#{$font-path}/webfonts.eot?a18595e6ff6572eb32700476522fe22b?#iefix") format("embedded-opentype"),
url("#{$font-path}/webfonts.ttf?a18595e6ff6572eb32700476522fe22b") format("truetype"),
url("#{$font-path}/webfonts.woff2?a18595e6ff6572eb32700476522fe22b") format("woff2"),
url("#{$font-path}/webfonts.woff?a18595e6ff6572eb32700476522fe22b") format("woff"),
url("#{$font-path}/webfonts.svg?a18595e6ff6572eb32700476522fe22b#webfonts") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: webfonts !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-chart:before {
	content: "\f101";
}
.icon-edit:before {
	content: "\f102";
}
.icon-email:before {
	content: "\f103";
}
.icon-heart:before {
	content: "\f104";
}
.icon-like:before {
	content: "\f105";
}
.icon-star:before {
	content: "\f106";
}
.icon-task:before {
	content: "\f107";
}
.icon-users:before {
	content: "\f108";
}
