@font-face {
	font-family: "webfonts";
	src: url("#{$font-path}/webfonts.eot?824a7ccd63289998a545cb7cba7fbf9e?#iefix") format("embedded-opentype"),
url("#{$font-path}/webfonts.ttf?824a7ccd63289998a545cb7cba7fbf9e") format("truetype"),
url("#{$font-path}/webfonts.woff2?824a7ccd63289998a545cb7cba7fbf9e") format("woff2"),
url("#{$font-path}/webfonts.woff?824a7ccd63289998a545cb7cba7fbf9e") format("woff"),
url("#{$font-path}/webfonts.svg?824a7ccd63289998a545cb7cba7fbf9e#webfonts") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: webfonts !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-edit:before {
	content: "\f101";
}
.icon-email:before {
	content: "\f102";
}
.icon-heart:before {
	content: "\f103";
}
.icon-like:before {
	content: "\f104";
}
.icon-star:before {
	content: "\f105";
}
